.header-top {
  padding: 23px 0;
}

.header-top-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav {
  display: flex;
  align-items: center;
  gap: 50px;
}

.header-nav-link {
  font-weight: 700;
}

.logo-img {
  width: 80px;
  height: 80px;
}

.header-inner {
  display: flex;
  align-items: center;
  gap: 86px;
}

.header-address {
  position: relative;
  font-style: normal;
  font-weight: 700;
  padding-left: 30px;
}

.header-address::before {
  content: '';
  width: 30px;
  height: 30px;
  background-image: url('../../images/icons/location.svg');
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: 0;
  transform: translateY(-30%);
}

.header-user {
  display: flex;
  align-items: center;
  gap: 10px;
}

.basket {
  position: relative;
}

.basket-count {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  min-width: 20px;
  min-height: 20px;
  font-size: 10px;
  font-weight: 500;
  background-color: #1C62CD;
  border-radius: 50%;
  color: #fff;
  position: absolute;
  top: 0;
  right: -10px;
}

.header-bottom-wrapper {
  background-color: #F0F0F4;
}
.header-bottom-categories {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-bottom-categories-item {
  padding: 15px 0;
}
.header-bottom-categories-link {
  text-transform: capitalize;
  position: relative;
  padding: 15px 0;
}

.header-bottom-categories-link::after {
  content: '';
  width: 0;
  position: absolute;
  left: auto;
  right: 0;
  bottom: 0;
  height: 3px;
  background: #1C62CD;
  transition: all .5s;
}

.header-bottom-categories-link:hover::after {
  width: 100%;
  right: auto;
  left: 0;
}